@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject Microsoft.Extensions.Options.IOptions<ConfigurationObject> options
<h1>@options.Value.FormatInfo()</h1>